body{
    color: azure;
    flex: 1 1 auto;

}

.selector{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-left: 900px; 
    padding-top: 20px;
    font-size: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin-left: 200px;
    margin-top: 70px;
    font-size: 20px;
}

.first{
    background-color: #1f2937;
    height: 500px;
}

.logo{
    
    position: relative;
    top: 40px;
    left: 200px; 
    display: inline;
    width: 100px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
} 

button{
    border-radius: 12px;
    font-size: 16px;
    background-color: #3882f6;
    border-style: none;
    height: 36px;
    width: 120px;
}

a{
    text-decoration: none;
    color:rgb(209, 212, 180);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.image{
    position: absolute;
    bottom: 230px;
    left: 950px;
    height: 300px;
    width: 300px;
}

/* second sector */
.text-about-business{
    color:#141313;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 360px;
    position: relative;
    right: 100px;
    bottom: 70px;  
 

}

.second-container{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     
}

.img{
    border-radius: 20px;
    height: 100px;
    width: 100px;
    position: relative;
    left: 90px; 
    border: solid 5px #3882f6;
   
}

.second{
    display: flex;
    height: 500px;
}

.head{
    color: #000;
    position: absolute;
    top: 510px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 30px ;
    font-weight: bold;
    left: 680px;
}

/* third sector */

.third{
    color: #1f2937;
    background-color: #e5e7eb ;
    height: 500px;
    font-style: italic;
    font-size: 33px;

}

.parag{
    width: 1100px;
    position: relative;
    left: 250px;
    top: 180px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    margin: 200px 50px 0 1100px;
}

/* fourth sector */
.fourth-container{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.message{
    width: 1000px;
    color: #fff;
    background-color: #3882f6;
    height: 100px;
    border-radius: 15px;
    padding-top: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 140px;
    line-height: 1px;
    padding-left: 100px;
    display:inline-block;
}

.blue-container{
    width: 500px;
}

.button-container{
   /* display: inline-block;*/
    width: 200px;
    position: relative;
    left: 600px;
    bottom: 40px;
}

.notif{
    font-weight: bold;
}

.button-in-the-fourth{
    border: solid 3px #fff;
    border-radius: 15px;
    color: #fff;
}

/* last sector */
 
.footer{
    background-color: #1f2937;
    color: #fff;
    height: 80px;
    font-size:18px;
    text-align: center;
    padding-top:15px;
 }
